<html>
<% include header %>

<body>
    <div id="app" class="container">
        <div>
            <div>
                <h1>Logs</h1>
                <div>
                    <p>Tổng: <span>{{logs.length}}</span></p>
                </div>
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Ngắn</th>
                            <th>Số lần</th>
                        </tr>
                        <tr v-for="short in shorts">
                            <td>{{short.short}}</td>
                            <td>{{count_short(short.short)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                status: "Xin chào!.",
                short: "",
                data: [],
                logs: [],
                shorts: []

            },
            methods: {
                search: function () {
                    fetch("/logs/search/" + this.short).then((resp) => resp.json()).then((data) => {
                        if (data.status == 404) {
                            alert("Có lỗi gì đó á!.");
                            return;
                        }
                        app.data = data;
                    })
                }, 
                count_short: function(code){
                    var a = app.logs.filter(function(log){
                        return log.short == code;
                    })
                    return a.length;
                }
            },
            created: function(){
                fetch("/logs" + this.short).then((resp)=> resp.json()).then((data)=>{
                    if(data.status == 404){
                        alert("Có lỗi gì đó á!.");
                        return;
                    }
                    app.logs = data;
                })
                fetch("/shorts" + this.short).then((resp)=> resp.json()).then((data)=>{
                    if(data.status == 404){
                        alert("Có lỗi gì đó á!.");
                        return;
                    }
                    app.shorts = data;
                })
            }

        });
    </script>
</body>

</html>